@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table class="table table-bordered table-striped table-condensed" style="width:auto">
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Assessment 1</td>
    </tr>
    <tr class="success">
        <td>Ben</td>
        <td>Burrows</td>
        <td>10/10</td>
    </tr>
    <tr class="danger">
        <td>Martyn</td>
        <td>Colliver</td>
        <td>9/10</td>
    </tr>
</table>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>